altgraph==0.16.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
future==0.18.2
idna==2.8
numpy==1.17.4
pefile==2019.4.18
Pillow==6.2.1
PyInstaller==3.5
pynput==1.6.0
pyperclip==1.7.0
pypiwin32==223
pywin32==227
pywin32-ctypes==0.2.0
PyYAML==5.2
requests==2.22.0
six==1.13.0
smmap2==2.0.5
smms.py==0.1.1
urllib3==1.25.8
wincertstore==0.2
wxPython==4.0.7.post2
